<div>
	<img id="imgdettaglio" src="css/micio.gif"></img>
	<div id="blocco1">
		<p id="nomebirra">nome</p>
		<p id="gradazione">9%</p>
		<p id="tipologia">bionda</p>
		<p id="birrificio">Lost</p> 
	</div>
</div>


<div>
	<div id="rating_img">rate</div>
	<div id="numero_voti">#3042394</div>
</div>


<div id="grafo_qualitativo">
	grafo
</div>


<div id="scorrimento">
	<div id="birre_simili">birre simili  >
	</div>
	<ul id="lista_birre_simili">
	</ul>
</div>

<div id="descrizione">
	<p>Descrizione:</p>
	<div id="corpo_descrizione">
		<p>sdfjasldkfjaòsdlkfjaòsdflkjasdòflkajsdfòalskdfjaòsdlfkjasdòlfj</p>
	</div>
</div>


<div id="commenti">
	<p>Commenti:</p>
	<div id="corpo_commento">
		<ul id="lista_commenti">
			{{#if commenti}}
			{{#each commenti}}
			<li>
				<div>
					<p id="data"></p>
					<img id=""></img>
				</div>
				<p id="commento"></p>
			</li>
			{{/each}}
			{{/if}}
		</ul>
		<div id="visualizza_altri_commenti"></div>
	</div>
</div>