    <div id="content">
      <div id="topbar" class="">
        <div id="back">back</div>
        <div id="title"> titolo </div> 
        <div id="rightbutton"> 
          <div id="rightbutton1">removePrefer</div>
          <div id="rightbutton2">VistaMappa</div>
          <div id="rightbutton3">VistaLista</div>
        </div> 
        <div id="triplebutton">
          <div id="share">share
            <div>menu pop-up</div>
          </div>
          <div id="vota">rate</div>
          <div id="addprefer">prefer</div>
        </div>
      </div>
      <div id="contents">
      </div>
      <div id="navigationbar">
            <div id="preferiti" class="bottonmenu">pref</div>
            <div id="topbeer" class="bottonmenu">topbeer</div>
            <div id="grafo">grafo</div>
            <div id="about" class="bottonmenu">about</div>
            <div id="vicino" class="bottonmenu">vicino</div>
            <!--<div id="trovami" class="bottonmenu">doveTrovarmi</div>-->
      </div>
    </div>

