<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>

		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>
		<li>
		<img class="imglist" src="css/micio.gif">
		<div class="dettaglilist">
			<p>nome</p>
			<img class="imglist" src="css/micio.gif">
			<p>n di voti</p>
		</div>
		<img class="imglist" src="css/micio.gif">
	</li>

	